<% contentFor('body') %>
<div class="container">
    <table class="table">
    <thead>
        <tr>
       
        <th scope="col">Nome</th>
        <th scope="col">Email</th>
        <th scope="col"> </th>
        </tr>
    </thead>
    <tbody>
   
    
        <tr>
        
        <td></td>
        <td></td>
        <td></td>
        <td><a href="/usuarios_edit?id=" class="bnt"><img src="public/svg/editar.svg" style="width:1.3em;height:auto"> </a></td>
        </tr>
   
    </tbody>
    </table>
    <div class="float-right"><a href="/usuarios_add"><img src="public/svg/adicionar.svg" style="width:4em;height:auto"> </a></div>
</div>