<% contentFor('body') %>
<div class="container">
    <table class="table">
    <thead>
        <tr>
      
        <th scope="col">Marca</th>
        <th scope="col">Descrição</th>
        <th scope="col"> </th>
        </tr>
    </thead>
    <tbody>
    
    <% for (d of data) { %>
    
        <tr>
        
        <td><%- d.marca %></td>
        <td><%- d.descricao %></td>
       
        <td><a href="marcas_edit?id=<%- d.id %>" class="bnt"><img src="svg/editar.svg" style="width:1.3em;height:auto"></a></td>
        </tr>
        <tr>
    

    </tbody>
    </table>
    <div class="float-right"><a href="marcas_add"><img src="svg/adicionar.svg" style="width:4em;height:auto"> </a></div>
</div>